@import '~src/scss/mixins';

.congressMemberDetailComponent {
  $detailUISpacer: 10px;
  &_roles {
    &-item {
      padding: $detailUISpacer;

      b {
        margin: $detailUISpacer;
      }
    }
  }
  &-loader {
    @include loader();
  }
}

